<!doctype html>
<html lang="en">
  <head>
    <title>{{title}} Build Monitor</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="10" >    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>
  <body style="background-color:black">
    <main role="main" class="container">
    <br/>
    <br/>
    <div class="starter-template">
        <h1 class="text-white"><i class="fa fa-sun-o" aria-hidden="true"></i> {{title}} Build Monitor</h1>
        <p class="lead"></p>
    </div>
    <br/>
    <br/>
    <div class="card-deck">

        {% for stage in blocks %}

        {% if stage.status == 'Succeeded' %}
           <div class="card text-white bg-success">
        {% elif stage.status == 'Failed' %}
           <div class="card text-white bg-danger">
        {% else %}
            <div class="card text-white bg-primary">
        {% endif %}

        <div class="card-header"><b>{{stage.name}}</b></div>
        <div class="card-body">
        <p class="card-text">{{stage.status}}
        {% if stage.status == 'Succeeded' %}
        <i class="fa fa-check-circle" aria-hidden="true"></i>                    
        {% elif stage.status == 'Failed' %}
        <i class="fa fa-frown-o" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-spinner" aria-hidden="true"></i>
        {% endif %}
        </p>
        {% if stage.status == 'Succeeded' %}
        <small class="small">Easy...</small>
        {% elif stage.status == 'Failed' %}
        <small class="small">Error Message : {{stage.error_msg}}</small>
        {% else %}
        <small class="small">Building in Progress</small>
        {% endif %}
        </div>
        <div class="card-footer">
        <small class="text-white small">Last updated {{stage.last}}</small>
        </div>
            </div>

        {% endfor %}

    </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>