{% extends "index.html" %}
{% block pipeline %}

{% for pipe in pipes %}

<h3 class="text-white">{{pipe.Name}} Code Pipeline Status </h3>

<div class="card-deck">
    
    {% for stage in pipe.Stages %}

    {% if stage.status == 'Succeeded' %}
    <div class="card text-white bg-success">
    {% elif stage.status == 'Failed' %}
    <div class="card text-white bg-danger">
    {% else %}
    <div class="card text-white bg-primary">
    {% endif %}

    <div class="card-header"><b>{{stage.name}}</b></div>
    <div class="card-body">
    <p class="card-text">{{stage.status}}
    {% if stage.status == 'Succeeded' %}
    <i class="fa fa-check-circle" aria-hidden="true"></i>                    
    {% elif stage.status == 'Failed' %}
    <i class="fa fa-frown-o" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-spinner" aria-hidden="true"></i>
    {% endif %}
    </p>


    {% if stage.percentage == 'Unknown' %}

    {% else %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="{{stage.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stage.percentage}}%">{{stage.percentage}}%</div>
    </div>
    <br/>
    {% endif %}

    {% if stage.status == 'Succeeded' %}
    <small class="small">Easy...</small>
    {% elif stage.status == 'Failed' %}
    <small class="small">Error Message : {{stage.error_msg}}</small>
    {% else %}
    <small class="small">Building in Progress</small>
    {% endif %}
    </div>
    <div class="card-footer">
    <small class="text-white small">Last updated {{stage.last}}</small>
    </div>
    </div>

    {% endfor %}
    
</div>

<br/>
<br/>

{% endfor %}

{% endblock %}
